body {
    font-family: 'montserrat';
}

.workspace {
    display: inline-block;
    margin-right: 25px;
}

.project {
    margin-top: 25px;
}

.workspace-heading {
    font-size: 64px;
}

.btn-add {
    margin-top:  25px;
    margin-bottom: 25px;
}

.card-block {
    background: lightblue;
    overflow: hidden;
}

.placeholder-card {
    background: lightblue;
    border: 1px dashed black;
    height: 90px;
}

.hidden-card {
    background: lightblue;
    border: 1px dashed black;
    height: 90px;
}

.heading-offset {
    margin-top: 13px;
}

